*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif
}
body{
  background:linear-gradient(135deg,#020617,#0f172a);
  color:white;
}

/* HEADER */
header{
  display:flex;justify-content:space-between;align-items:center;
  padding:12px 20px;background:#020617;
}
header h2{
  color:#22c55e
}
.actions{
  display:flex;
  gap:8px
}
header button{
  padding:8px 14px;border:none;border-radius:6px;
  background:#1e293b;color:white;cursor:pointer
}
 #title{
    padding: 10px;
    font-size: 3vh;
}

/* APP */
.app{
  display:flex;
  min-height:calc(100vh - 56px)}
.sidebar{
  width:320px;background:rgba(2,6,23,.9);
  backdrop-filter:blur(12px);padding:20px;overflow-y:auto
}
.tabs{
  display:flex;gap:8px;
  margin-bottom:15px;
}
.tabs button{
  flex:1;
  padding:8px;
  border:none;
  border-radius:8px;
  background:#1e293b;color:white
}
.tabs button.active{
  background:#22c55e;
  color:black}

.song{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px;
  margin-bottom:10px;
  border-radius:10px;
  background:#1e293b;
  cursor:pointer
}
.fav{
  font-size:18px;
  cursor:pointer
}

/* MAIN */
.main{
  flex:1;
  display:flex;
  flex-direction:column;
  align-items:center;justify-content:center
}
.cover{
  width:260px;height:260px;border-radius:20px;
  overflow:hidden;box-shadow:0 20px 40px rgba(0,0,0,.6);
  background-image: url("https://i.pinimg.com/736x/25/b9/c0/25b9c0b08e2a465661515ee23dba84ac.jpg");
  background-position: center;
  background-size: cover;
}
.cover video{
  width:100%;
  height:100%;
  object-fit:cover;
}
.controls button{
  font-size:22px;
  padding:14px;
  margin:8px;
  border:none;
  border-radius:50%;
  background:#1e293b;
  color:white
}
.play{
  background:#22c55e;
  color:black
}

/* MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  display:none;
  justify-content:center;
  align-items:center
}
.modal-box{
  background:#020617;
  padding:25px;
  width:300px;
  border-radius:10px
}
.modal-box input,.modal-box button{
  width:100%;
  padding:10px;
  margin-top:10px
}
.modal-box button{
  background:#22c55e;
  border:none}
/* FOOTER */
.footer{
  background:#020617;
  padding:35px 20px;
  text-align:center;
}
header h2 i{
  background: linear-gradient(45deg, #2f3dff, #dd2476);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer h3{
  color:#22c55e;
  margin-bottom:8px;
}

.footer p{
  font-size:14px;
  opacity:0.7;
}

.footer span{
  display:inline-block;
  background:#1e293b;
  padding:6px 14px;
  border-radius:20px;
  margin:8px 5px;
  font-size:13px;
}
/* RESPONSIVE */
@media(max-width:768px){
  .app{flex-direction:column}
  .sidebar{width:100%}
}

@media(max-width:480px){
  header{flex-direction:column;gap:10px}
  .actions{width:100%}
  header button{flex:1}
}